﻿@{
    ViewData["Title"] = "GitLab - Issues Export";
    Layout = "_Layout";
}

    <form asp-controller="Home" asp-action="Projects" method="post">
        
            <div class="col-sm-6">
                Enter your Git private token
            </div>
            <div class="col-sm-6">
                <input type="text" name="PrivateToken" style="width: 400px" value="A8Fsx7tz1tZeiz6h-BAu"/>
            </div>
            <div class="col-sm-6">
                Enter your repo username
            </div>
            <div class="col-sm-6">
                <input type="text" name="UserName" style="width: 400px" value="riyaships"/>
            </div>

            <div class="col-sm-12">
            <input type="submit" value="Fetch Projects" class="btn btn-info"/>
        </div>
    </form>
     