﻿@model IEnumerable<Awsm.Tools.Data.Models.GitlabProject>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<form asp-controller="Home" asp-action="Issues" method="post" id="frmProjects">
    @Html.Hidden("PrivateToken", ViewData["PrivateToken"].ToString())
    <div class="text-center">
        <partial name="Partials/_Projects" model="@Model" />
    </div>
    <div class="col-12">
        <input type="button" value="Fetch Issues" id="btn-fetch-issues" class="btn btn-info"/>
    </div>
</form>

<div class="col-12" id="div-import-flow">

</div>

@section Scripts
{
    <script>
        $(function() {

            $("#btn-fetch-issues").click(function() {

                var request = JsHelpers.AjaxService.GetFormObject("frmProjects");
                var callback = function (response) {   $("#div-import-flow").html(response); }
                JsHelpers.AjaxService.PerformAjaxPost('@Url.Action("Issues", "Home")', request, callback);
            });
        });
    </script>
}