﻿@model IEnumerable<Awsm.Tools.Data.Models.GitlabIssue>

@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Issues" method="post" id="frmProjects">

    <table class="table table-bordered">
        <thead>
            <tr class="tr-bg-whitesmoke">
                <th>Id</th>
                <th>Issue</th>
                <th>Description</th>
                <th>Status</th>
                <th>Author</th>
                <th>Assigned</th>
                <th>MilestoneTitle</th>
                <th>MilestoneDueDate</th>
                <th>LabelsText</th>
                <th>DateCreated</th>
                <th>DateClosed</th>
                <th>DateUpdated</th>
                <th>DateDue</th>
            </tr>

        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Id</td>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.Status</td>
                <td>@project.AuthorName</td>
                <td>@project.Assigned</td>
                <td>@project.MilestoneTitle</td>
                <td>@project.MilestoneDueDate</td>
                <td>@project.LabelsText</td>
                <td>@project.DateCreated</td>
                <td>@project.DateClosed</td>
                <td>@project.DateUpdated</td>
                <td>@project.DateDue</td>
            </tr>
            if (project.IssueNotes.Any())
            {
                <tr>
                    <td colspan="13">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="tr-bg-aqua">
                                <th>Note</th>
                                <th>Author</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                            </tr>
                            </thead>

                            @foreach (var issueNote in project.IssueNotes)
                            {
                                <tr>
                                    <td>@issueNote.NoteContent</td>
                                    <td>@issueNote.AuthorName</td>
                                    <td>@issueNote.DateCreated</td>
                                    <td>@issueNote.DateUpdated</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        }

    </table>

    <div class="col-12">
        @Html.Hidden("PrivateToken", ViewData["PrivateToken"].ToString())
        @Html.Hidden("ProjectId", ViewData["ProjectId"].ToString())

        <input type="button" value="Copy to JIRA" id="btn-pushto-jira" class="btn btn-primary" />
    </div>
</form>

    @section Scripts
{
        <script>
        $(function() {

            $("#btn-pushto-jira").click(function() {
             //TODO: Sorry 
        });
        </script>
    }
