﻿@model IEnumerable<Awsm.Tools.Data.Models.GitlabProject>

@{
    ViewData["Title"] = "Home Page";
}

    <table class="table table-bordered">
        <thead>
            <tr><th>Select</th><th>Project ID</th><th>Project Name</th></tr>

        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td><input type="radio" name="ProjectId" value="@project.Id" /></td>
                <td>@project.Id</td>
                <td>@project.Name</td>
            </tr>
        }

    </table>
